.button {
  border: 0;
  background-color: var(--primaria);  
  padding: 0.7rem 1.5rem;
  border-radius: 10px;
  color: var(--light-menos);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
  cursor: pointer;
  transition: background-color 0.8s ease;
  text-decoration: none;
  margin-top: 1rem;
}

.button:hover {
  background-color: var(--primaria-mais);  
}