/* Home */

.main {
  width: 100%;  
  height: 120vh;
  background-image: url(./assets/img/Background.png);
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 50% 100%, 0 85%);
}

.show {
  height: 85vh;
  width: 100%;
  padding: 0 15vh 0 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.developer h1 {
  color: var(--light);
  text-transform: uppercase;
  font-size: 4.3rem;
}

.developer h2 {
  color: var(--light);
  font-weight: 400;
  font-size: 3rem;
}

.developer h3 {
  color: var(--light);
  font-weight: 400;
  font-size: 2rem;
}

.developer span {
  color: var(--primaria);
  font-weight: 700;
  text-transform: uppercase;
}

.cardAcademy {
  height: 650px;
  width: 750px;
  background-color: var(--light);
  border-radius: 0 0 10px 10px;
  margin-bottom: 20px;
}

.cardAcademy span {
  display: block;
  height: 60px;
  width: 100%;
  background-color: var(--primaria-mais);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 0%, 0 100%);
}

.cardAcademy div:nth-child(2) {
  text-align: center;
  color: var(--primaria-mais);
}

.cardAcademy div:nth-child(3) {
  text-align: center;
  height: 380px;
}

.cardAcademy div:nth-child(3) h2{
  color: var(--secundaria);
  padding: 20px 0 20px 0;
  font-size: 3rem;
}

.cardAcademy div:nth-child(3) p:nth-child(2){
  text-align: justify;
}

.cardAcademy div:nth-child(3) p{
  color: var(--secundaria-menos);
  line-height: 1.5;
  font-size: 1.4rem;
  padding: 20px 61px;
  width: 100%;
  height: 280px;
  display: block;
}

.structure {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.cardAcademy .structure a {
  height: 114px;
  width: 114px;
  background-color: var(--primaria);
  display: flex;
  justify-content: center;
  align-items: center;
  color: vapxpxr(--light-menos);
  position: relative;
  top: 25px;
  text-decoration: none;
  font-weight: 700;
  overflow: hidden;
  transition: all 1s ease;
  flex-direction: column;
  filter: drop-shadow(0px 4px 4px #000000);
  color: var(--light-menos);
}

.cardAcademy .structure a:hover {
  background-color: var(--primaria-mais);
}

.structure p {
  padding: 5px;
  font-size: 1rem;
  transition: all 0.85s ease;
  filter: drop-shadow(0px 4px 4px #000000);
  color: var(--light);
}

/* Sobre */

.about {
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--light-menos);
}

.about .photo {
  height: 500px;
  min-width: 800px;
  object-fit: cover;
  background-position: center;
}

.about .photo img {
  height: 100%;
  width: 100%;

}

.description {
  height: 500px;
  width: 800px;
  padding: 2rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description h4 {
  font-size: 3rem;
  color: var(--secundaria-menos);
  padding: 0 0 1.5rem 0;
}

.description span {
  color: var(--primaria);
  text-transform: uppercase;
}

.description p {
  font-size: 1.4rem;
  width: 700px;
  height: 500px;
  color: var(--secundaria-menos);
  line-height: 1.5;
}

/* Conhecimentos*/

.know {
  height: 100vh;
  width: 100%;
  display: flex;
}

.backend {
  height: 100%;
  width: 50%;
  background-color: var(--secundaria);
}

.sectionBack{
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 80px 0;
}

.frontend {
  height: 100%;
  width: 50%;
  background-color: var(--secundaria-menos);
  
}

.sectionFront {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: blue; */
  padding: 0 80px 0;
}

/* Projetos */

.sectionProjects {
  height: 100vh;
  width: 100%;
  background-color: var(--secundaria-menos);
}

.backgroundProject {
  width: 100%;
  height: 100vh;
  position: relative;
  transition: all .5s ease;
}

.imgProject {
  height: 100%;
  width: 100%;
}

.imgProject img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.slideDescription {
  height: 400px;
  width: 100%;
  background-color: var(--secundaria-menos);
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textDescription {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textDescription h2 {
  font-size: 58px;
  text-transform: uppercase;
  color: var(--light);
  margin: 3rem 0 1.4rem;
  text-shadow: rgba(0, 0, 0, 0.5) 0 6px;
  transition: color 0.5s ease;
}

.textDescription h2:hover {
  color: var(--primaria);
}

.textDescription p {
  width: 80rem;
  font-size: 1.8rem;
  color: var(--light);
  height: 100px;
  font-weight: 400;
  text-shadow: rgba(0, 0, 0, 0.5) 0 2px;
}

.buttonLinks {
  display: flex;
  justify-content: center;
}

.buttonLinks a {
  height: 100px;
  width: 400px;
  border: 2px solid var(--light);
  text-decoration: none;
  color: var(--light);
  font-size: 50px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 6px;
  transition: background-color 0.5s ease;
}

.buttonLinks a:hover {
  background-color: var(--primaria);
}

.buttonLinks a img {
  height: 70px;
  width: 70px;
}

.buttonLinks a:nth-child(1) {
  margin-right: 50px;
}

.radioList {
  height: 50px;
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.titleProject {
  height: 15vh;
  width: 340px;
  display: flex;
  align-items: center;
}

/* Contato */

.sectionContact {
  height: 100vh;
  width: 100%;
  background-color: var(--secundaria);
  display: flex;
}

.network {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoNetwork {
  height: 22rem;
  width: 22rem;
}

.logoNetwork img {
  height: 100%;
  width: 100%;
}

.titleNetwork {
  width: 100%;
  font-size: 3.5rem;
  text-align: center;
  color: var(--light);
  padding: 2rem 0;
}

.socialNetwork {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2rem 0;
}

.socialNetwork a {
  height: 100px;
  width: 100px;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialNetwork div img {
  height: 100%;
  width: 100%;
}

.containerForm {
  height: 850px;
  width: 950px;
  background-color: var(--light);
  border-radius: 15px;
  z-index: 1;
}

.containerForm div:nth-child(1) {
  width: 350px;
}

.contact {
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  position: relative;
}

.contact:after {
  content: "";
  height: 100%;
  width: 25vw;
  background-color: var(--primaria);
  position: absolute;
  right: 0;
  z-index: 0;
}

.formContact {
  width: 100%;
  padding: 3rem;
}

.formContact form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.formContact form label {
  font-size: 2.5rem;
  font-weight: 700;
  padding: 0.5rem 0;
  color: var(--secundaria-menos);
}

.formContact form input {
  height: 3rem;
  max-width: 700px;
  margin-bottom: 3rem;
  border: 0;
  border-bottom: 2px dotted var(--primaria);
  font-size: 1.5rem;
}

.formContact form input:focus, textarea:focus {
  outline: 0;
  font-size: 1.5rem;
}

.formContact form input::placeholder, textarea::placeholder{
  font-size: 1.5rem;
  color: #9a9494;
  opacity: 10px;
}

.formContact form input:invalid, textarea:invalid {
  border-bottom: 2px dotted var(--danger);
}

.formContact form textarea {
  max-width: 700px;
  resize: none;
  border: 0;
  border-bottom: 2px dotted var(--primaria);
  font-size: 1.5rem;
}

.formContact form button {
  width: 150px;
  height: 60px;
  border-radius: 5px;
  border: none;
  background-color: var(--primaria);
  font-size: 1.5rem;
  color: var(--light);
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem;
  cursor: pointer;
  margin-top: 2rem;
  transition: background-color 0.5s ease;
}

.formContact form button:hover {
  background-color: var(--primaria-mais);
}



/******************************** BREAKPOINTS ********************************/

/* DESKTOP */

@media screen and (max-width: 1700px) {

  .cardAcademy {
    height: 600px;
    width: 650px;
  }

  .cardAcademy div:nth-child(3) {
    height: 320px;
  }
  
  .cardAcademy div:nth-child(3) h2{
    font-size: 2.5rem;
  }
  
  .cardAcademy div:nth-child(3) p{
    font-size: 1.2rem;
    height: 250px;
  }
  
  .structure {
    height: 150px;
  }
  
  .cardAcademy .structure a {
    height: 100px;
    width: 100px;
  }
  
  .structure p {
    font-size: 1rem;
  }

  /* Contatos */

  .containerForm {  
    width: 800px;
  }
}

@media screen and (max-width: 1600px) {

  .show {
    padding: 0 13vh 0 5vh;
  }
  
  .developer h1 {
    font-size: 4.2rem;
  }
  
  .developer h2 {
    font-size: 2.9rem;
  }
  
  .developer h3 {
    font-size: 1.9rem;
  }

  /* SOBRE */

  .about .photo {
    height: 400px;
    min-width: 650px;
    object-fit: cover;
    background-position: center;
  }

  .description p {
    font-size: 1.3rem;
    width: 600px;
    height: 600px;
    padding: 0 3rem;
  }

}

@media screen and (max-width: 1550px) {

  .show {
    padding: 0 10vh 0 5vh;
  }
  
  .developer h1 {
    font-size: 4rem;
  }
  
  .developer h2 {
    font-size: 2.8rem;
  }
  
  .developer h3 {
    font-size: 1.8rem;
  }

  .cardAcademy {
    height: 600px;
    width: 600px;
  }

  .cardAcademy div:nth-child(3) {
    height: 320px;
  }
  
  .cardAcademy div:nth-child(3) h2{
    font-size: 2.5rem;
  }
  
  .cardAcademy div:nth-child(3) p{
    font-size: 1.2rem;
    height: 250px;
  }
  
  .structure {
    height: 150px;
  }
  
  .cardAcademy .structure a {
    height: 90px;
    width: 90px;
  }
  
  .structure p {
    font-size: 1rem;
  }

  /* Contatos */

  .containerForm {
    width: 750px;
  }
  
}

@media screen and (max-width: 1450px) {

  .developer h1 {
    font-size: 3.8rem;
  }
  
  .developer h2 {
    font-size: 2.6rem;
  }
  
  .developer h3 {
    font-size: 1.7rem;
  }

  .cardAcademy {
    height: 600px;
    width: 600px;
  }

}

/* MOBILE */

@media screen and (max-width: 1400px) {

 .main {
  height: 100%;
  clip-path: none;
 }

 .show {
  display: block;
  padding: 0;
  height: 100%;
  padding-bottom: 100px;
 }

 .developer {
  text-align: center;
  padding: 50px 0 80px;
 }

 .cardAcademy {
  margin: 0 auto;
 }

   /* SOBRE */

   .sectionAbout {
    height: 100%;
    width: 100%;
   }

   .about {
    height: 100%;
    width: 100%;
    flex-direction: column;
  }

  .about .photo{
    margin: 15px;
    height: 300px;
    min-width: 300px;
  }

  .description {
    height: 100%;
    width: 100%;
  }

  .description h4 {
    font-size: 2.5rem;
    padding: 0 0 1rem;
  }

  .about .description p {
    height: 100%;
    width: 50rem;
    margin: 2rem 5rem;
  }

  .about .description p:nth-child(3) {
    height: 100%;
    width: 50rem;
    margin: 0 5rem;
  }

  /* Conhecimentos */

  .know {
    height: 100%    ;
    width: 100%;
    flex-direction: column;
  }

  .backend {
    width: 100%;
  }

  .frontend{
    width: 100%;
  }

  /* Projetos */

  .sectionProjects {
    height: 100%;
  }

  .backgroundProject {
    height: 100%;
  }

  .imgProject img{
    object-fit: contain;
    object-position:  top;
  }

  .slideDescription {
    height: 500px;
    position: relative;
  }

  .backgroundProject img {
    object-fit: cover;
  }

  .textDescription p {
    height: 200px;
    width: 100%;
    padding: 0 1.8rem;
  }

  /* Contatos */

  .sectionContact {
    height: 100%;
    flex-direction: column;
    padding-bottom: 3rem;
  }

  .contact:after {
    /* content: ""; */
    height: 50vh;
    width: 100%;
    background-color: var(--primaria);
    position: absolute;
    bottom: -3rem;
    z-index: 0;
    
  }

  .network {
    width: 100%;
    height: 100%;
    /* background-color: red; */
    z-index: 1;
    margin-bottom: 2rem;
  }

  .contact {
    height: 100%;
    width: 100%;
    justify-content: center;
    padding: 0 3rem;
  }

  .contact .containerForm {
    width: 100%;
  }

  .formContact {
    padding: 4rem;
  }

  .contact .containerForm form input, .contact .containerForm form textarea{
    max-width: 100%;
  }

}

@media screen and (max-width: 900px) {

  
  .slideDescription {
    height: 750px;
    position: static;
  }

  .buttonLinks {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
  }

  .buttonLinks a:nth-child(1) {
    margin-right: 0;
  }

  .radioList {
    width: 400px;
  }

}

@media screen and (max-width: 799px) {

  .developer h1{
    font-size: 3rem;
  }

  .developer h2{
    font-size: 2rem;
  }

  .developer h3{
    font-size: 1.4rem;
  }

  .cardAcademy {
    width: 460px;
  }

  .cardAcademy div:nth-child(3){
    height: 400px;
  }

  .cardAcademy div:nth-child(3) h2{
    font-size: 2rem;
  }

  .cardAcademy div:nth-child(3) p{
    margin-top: 15px;
    font-size: 1.1rem;
  }

  .cardAcademy .structure {
    height: 50px;
    top: 2px;
  }

  .cardAcademy .structure a{
    height: 60px;
    width: 60px;
  }

  /* SOBRE */

  .about .photo{
    margin-top: 100px;
  }

  .about .description p {
    font-size: 1.2rem;
    width: 33rem;
  }

  .about .description p:nth-child(3) {
    width: 33rem;
    margin: 0;
  }

}

@media screen and (max-width: 600px) {

  /* Contatos */

  .containerForm div:nth-child(1) {
    width: 320px;
    font-size: 2rem;
  }

  .formContact {
    padding: 0 3.5rem;
  }

  .formContact form label, textarea {
    font-size: 2rem;
  }
}

@media screen and (max-width: 550px) {

  .developer h1{
    font-size: 2rem;
  }

  .developer h2{
    font-size: 1.5rem;
  }

  .developer h3{
    font-size: 1rem;
  }

  .cardAcademy {
    width: 330px;
  }

  .cardAcademy div:nth-child(3){
    height: 400px;
  }

  .cardAcademy div:nth-child(3) h2{
    font-size: 1.5rem;
    padding: 0;
  }

  .cardAcademy div:nth-child(3) p{
    font-size: 1rem;
    padding: 0 30px;
  }

  .cardAcademy div:nth-child(3) p:nth-child(3){
    margin-top: 75px;
    font-size: 1rem;
  }

  .cardAcademy .structure {
    height: 50px;
    top: 2px;
  }

  .cardAcademy .structure a{
    height: 60px;
    width: 60px;
  }

   /* SOBRE */

   .about .photo{
    width: 300px;
    height: 300px;
  }

  .about .description h4 {
    font-size: 1.5rem;
  }

  .about .description p {
    font-size: 1.1rem;
    width: 25rem;
  }

  .about .description p:nth-child(3) {
    width: 25rem;
    margin-bottom: 40px;
  }

  /* Projetos */

  .slideDescription p  {
    font-size: 1.5rem;
  }

  .buttonLinks a {
    width: 300px;
    font-size: 30px;
  }
}

@media screen and (max-width: 450px) {

  .about .description p {
    font-size: 1.1rem;
    height: 100%;
    width: 23rem;
  }

  .about .description p:nth-child(3) {
    width: 23rem;
    margin-bottom: 50px;
  }

  /* Projetos */

  .slideDescription {
    height: 705px;
  }

  .radioList {
    width: 300px;
  }

  /* Contatos */

  .containerForm div:nth-child(1) {
    width: 270px;
    font-size: 1.5rem;
  }

  .formContact form label, textarea {
    font-size: 1.5rem;
  }

  .sectionContact .contact .formContact form input::placeholder,
  .sectionContact .contact .formContact form textarea::placeholder
  {
    font-size: 1rem;
  }
}
